---
import "../styles/global.css" 
---
<!-- ABOUT -->
  <section id="about" class="about container">
    <h2>Sobre mí</h2>
    <p>
      Soy desarrollador frontend enfocado en crear experiencias web claras,
      rápidas y mantenibles. Me gusta escribir código limpio, seguir buenas
      prácticas y aprender constantemente nuevas tecnologías.
    </p>

    <ul class="skills">
      <li>HTML5</li>
      <li>CSS3 / SCSS</li>
      <li>JavaScript</li>
      <li>Git & GitHub</li>
      <li>Responsive Design</li>
    </ul>
  </section>