---
import "../styles/global.css";
import Icon from "./Icon.astro";
---

<!-- HERO -->
<section id="home" class="hero">
  <div class="hero-image">
    <Icon name="hero" size="300px" />
  </div>
  <div class="hero-content">
    <h1 class="hero-title">
      Hello, I`am <span>Pedro Rosa</span><br /> Frontend <strong
        class="outlined">Developer</strong
      ><br />
      Based in <strong>Rep. Dominican</strong>
    </h1>
    <p class="description">
      Desarrollo interfaces web modernas, accesibles y responsivas usando HTML,
      CSS y JavaScript.
    </p>
    <div class="hero__social">
      <a href="#" class="social-link" aria-label="Facebook">
        <Icon name="facebook" size="36px" />
      </a>
      <a href="#" class="social-link" aria-label="Reddit">
        <Icon name="reddit" size="36px" />
      </a>
      <a href="#" class="social-link" aria-label="Twitter">
        <Icon name="twitter" size="36px" />
      </a>
      <a href="#" class="social-link" aria-label="Discord">
        <Icon name="discord" size="36px" />
      </a>
    </div>
  </div>
</section>

<style>
  .hero {
    display: var(--display-flex);
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: var(--space-8) var(--space-4);
  }
  .hero-title {
    font-size: clamp(1.5rem, 5vw, 1.961rem);
    font-weight: var(--font-regular);
  }
  .hero-content {
    display: var(--display-flex);
    flex-direction: column;
    justify-content: center;
    gap: var(--space-8);
  }
  .hero-title > span {
    color: var(--color-primary-400);
    font-weight: var(--font-bold-l);
    text-shadow: var(--shadow-lg);
  }

  strong {
    font-weight: var(--font-bold-l);
  }
  .description {
    font-size: var(--text-base);
    font-weight: var(--font-regular);
    line-height: 1.5;
  }
  .hero__social {
    display: var(--display-flex);
    align-items: center;
    gap: var(--space-10);
  }
  .social-link {
    display: var(--display-flex);
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 48rem) {
    .hero {
      flex-direction: row-reverse;
      height: auto;
      gap: 2rem;
      padding: var(--space-10) var(--space-4);
    }
    .hero-content {
      max-width: 50%;
      height: auto;
    }
  }
  @media (min-width: 64rem){
    .hero {
      max-width: var(--max-width-900);
    }
  }
</style>
